@use "base/variables";

.managers {
    min-height: 342px;
    padding: 58px 0 76px 0;
    background: url('../img/managers/background.jpg') center center / cover no-repeat;

    &__img {
        width: 110px;
        height: 110px;
        margin: 0 auto;
    }

    &__icons {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title {
        margin-top: 20px;
    }

    &__descr {
        margin-top: 25px;
    }
}