$color-white: #ffffff;
$color-white-alpha: rgba($color: #ffffff, $alpha: 0.8);
$color-dark-coral: #d0644d;
$color-signal-black: #323232;
$color-signal-black-2: #2e2e2e;
$color-red: #ff0000;
$color-light-grey: #bbbbbb;
$color-light-black: #101010;